body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#ddd; color:#555; font-size:0.875em; font-family: Verdana, Arial, Helvetica, sans-serif; text-align: center;}
td,th,caption { font-size:0.875em; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:0.875em Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.header{
    height: 22px;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8b8b8b;
}

#phone{
    float:left;
    margin-left: 5px;
    color: #ddd;
}

#click{
    float:right;
}

.click li{
    float:left;
    color:#ddd;
    margin-right: 5px;
   /* border-right: 1px solid #ddd; */
}

.click li:hover{
    color:aqua;
}

.nav{
    height: 66px;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b37100;
    opacity: 0.6;
}

#logo{
    float: left;
    margin-left: 5px;
}

.logo_name{
    float: left;
    margin-top: 5px;
    font-size:1.375em;
    font-weight: bold;
    color:aliceblue;
}

.nav_name{
    float: right;
    margin-right: 5px;
}

.nav_li li{
    float:left;
    color:white;
    font-size:1.375em;
    margin-right: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.nav_li li:hover{
    background-color: azure;
    color:#b37100;
}

.picture{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 1120px;
    background-color: white;
}

.show{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 120px;
    width: 1120px;
    background-color: white;
    
}

.show_time{
    margin-left: 50px;
    margin-right: 30px;
    height: 120px;
    width: 185px;
    background-color: white;
    float: left;
}

.show_name li{
    color: #8b8b8b;
}

.show_time img{
    margin-top: 15px;
    max-height:50px;
    min-height: 40px;
    max-width: 50px;
    min-width: 40px;
}

.show_time:hover{
    background-color: #eeeeee;
}

.show_time li:hover{
    color: #393939;
}

.whole{
    height: 600px;
    width: 1120px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.list{
    height: 600px;
    width:835px;
    background-color: white;
    float: left;
}

.list_name{
    height: 30px;
    width: 90%;
    margin-left: 12px;
    margin-top: 5px;
    border-bottom: 1px solid #b37100;
}

.list_name img{
    margin-left: 2px;
    margin-top:5px;
    float: left;
    max-height: 20px;
    max-width: 33px;
}

.list_name li{
     font-size: 1.375em;
     color: #616161;
    float: left;
    margin-left: 2px;
}

.right{
    height: 600px;
    width: 280px;
    margin-right: 0px;
    margin-top: 0px;
    float: left;
    background-color: white;
}

.announce{
    height: 145px;
    width: 280px;
    background-color: white;
    float: right;
    margin-bottom: 6px;
}

.product{
    height: 70px;
    width: 85%;
    border-bottom: 1px #ff7400 solid;
    margin-left: 25px;
}

.product:hover{
    background-color: #eeeeee;
}

.product_name{
    float:left;
    margin-left: 5px;
    font-size: 1.375em;
    font-weight: bold;
    color: #1240ab;
}

.product_name img{
    max-height: 22px;
    max-width: 22px;
    margin-top: 2px;
}

.product_detail{
    float: right;
    height: 30px;
    width: 100%;
}

.product_number{
    margin-left: 30px;
    height: 50px;
    width: 105px;
    float: left;
    font-size: 0.875em;
    color:#676767;
    font-weight: bold;
}

.product_number span{
    color: red;
    font-weight: bold;
}

.product_btn{
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 50%;
    line-height: 20px;
    background-color: #26aeb0;
    color: white;
}

.product_btn:hover{
    width: 60%;
    background-color: #ff7400;
}

.progress{
    margin-top: -7px;
    width: 20px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px #ddd solid;
    -webkit-border-radius:10px;
}

.progress span{
    font-size: 0.625em;
    color: #676767;
}

.more{
    height: 60px;
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.news{
    height: 20px;
    width: 85%;
    border-bottom: 1px #ddd solid;
    margin-left: auto;
    margin-right: auto;
}

.news span{
    color: #ff7400;
    float: left;
}

.news_off{
    height: 20px;
    width: 85%;
    border-bottom: 1px #ddd solid;
    margin-left: auto;
    margin-right: auto;
}

.news_off span{
    color: #636363;
    float: left;
}

.foot{
    width: 1120px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: #636363;
}

.foot_word{
    width: 100%;
    text-align: right;
    color: white;
    font-size: 9px;
}

#foot_click{
    margin-right: 10px;
    height: 13px;
    width: 100%;
}

#foot_click ul{
    margin-right: 1px;
    margin-top: 5px;
    float: right;
}

#foot_click li{
    margin-right: 5px;
    text-align: right;
    float: left;
    color: white;
    font-size: 0.75em;
}

#foot_click li:hover{
    color: aqua;
}